.sidebar{
    width:18rem;
    background-color: $color-dark-shades;
    color: $color-white;
    font-size:1.3rem;
    font-weight: 500;
    height:100%;
    top:0;
    left:0;
    padding-top:15vh;
    padding-left:1rem;
    border-right: 0.6rem solid $color-light-accent;
    position: fixed;
    

    &__item{

        &,
        &:link,
        &:visited{
            transition: all .2s;
            border-bottom: 2px solid $color-light-accent;
            display:block;
            text-decoration: none;
            text-transform: capitalize;
            color: $color-white;
        }
        &:hover{
            border-bottom: 2px solid $color-white;
            color: $color-brand;
            background-color:$color-white;
        }
    }
}