$color-brand: #116466;

$color-dark-shades: #2c3531;

$color-dark-accent:#d9b08c;

$color-light-shades: #d1e8e2;

$color-light-accent: #eac677;


$color-white: #fff;
$color-black: #000;


$sidebar-width: 18rem;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

