
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-bg: #1f8a66;

$color-secondary-accent: #d594db;

$color-grey-light-1: #f7f7f7;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

$color-quarternary-light: #2998ff;
$color-quarternary-dark: #5643fa;

$color-bg: rgb(225, 233, 224);
$color-white: #fff;
$color-black: #000;
$color-dark: rgba(0, 0, 0, 0.425);

$sidebar-width: 18rem;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

